name: "[hatena] publish from draft"

on:
  pull_request:
    branches:
      - main
    types: [closed]
    paths:
      - "draft_entries/**"

jobs:
  push-when-publishing:
    uses: hatena/hatenablog-workflows/.github/workflows/push-when-publishing-from-draft.yaml@8564b85b51cda20eb962f0dec3bf3fcff3dd0326 # v2.0.7
    secrets:
      OWNER_API_KEY: ${{ secrets.OWNER_API_KEY }}
